@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
        

#navname {
    background-color: aqua;
    text-align: center;
}



/* Body */

body {
    background-color: aqua;
    
}

h1,
h2,
.btn {
    font-family: 'Galindo', sans-serif;
}
/* Score div */

#score-div {
    font-family: 'Galindo', sans-serif;
}

