@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
        

#navname {
    text-align: center;
}



/* Body */

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1,
h2,
h3,
.btn {
    font-family: 'Galindo', sans-serif;
}
/* Score div */

#score-div {
    font-family: 'Galindo', sans-serif;
}

/* Center the content */

#wrapper,
.main-cont {
    margin-top: 215px;
}