@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
        

#navname {
    text-align: center;
}



/* Body */

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(7, 5, 6, 0.842);
    
}

h1,
h2,
h3,
.score-div {
    background: rgba(243, 237, 240, 0.60);
}

#score-div {
    width: 40%;
    justify-self: center;
}


h1,
h2,
h3,
.btn {
    font-family: 'Galindo', sans-serif;
    text-align: center;
}

/* Button opacity for hovering */
.btn:hover {
    opacity: 0.9;
}
/* Score div */

.score-number * {
    border-radius: 0;
}
/* Center the content */

#wrapper,
.main-cont {
    margin-top: 215px;
}

@media screen and (max-width: 490px) {
    .btn {
        margin-bottom: 5px;
    }
}